/*QSplitter {
    color: rgb(122, 122, 122);
    background-color: rgb(43, 43, 43);
}
QWidget {
    color: rgb(32, 32, 32);
    background-color: rgb(216, 216, 216);
}

QMenu {
    color: rgb(233, 233, 233);
    background-color: rgb(37, 37, 37);
}

QMenuBar {
    color: rgb(233, 233, 233);
    background-color: rgb(37, 37, 37);
}


QToolBar {
    color: rgb(233, 233, 233);
    background-color: rgb(255, 255, 255);
}

QStatusBar {
    color: rgb(233, 233, 233);
    background-color: rgb(37, 37, 37);
} */

/* QGroupBox { 
    border: 2px solid gray; 
    border-radius: 3px; 
} 
QGroupBox::title { 
    background-color: transparent;
     subcontrol-position: top left; 
     padding:2 20px;
 } 
  */