QWidget {
    color: rgb(73, 73, 73);
    background-color: rgb(94, 94, 94);
}

QMenu {
    color: rgb(233, 233, 233);
    background-color: rgb(37, 37, 37);
}

QMenuBar {
    color: rgb(233, 233, 233);
    background-color: rgb(37, 37, 37);
}


QToolBar {
    color: rgb(233, 233, 233);
    background-color: rgb(255, 255, 255);
}

QStatusBar {
    color: rgb(233, 233, 233);
    background-color: rgb(37, 37, 37);
}