QMenu {
    background-color: rgb(61, 61, 61);
}
QMenuBar {
    background-color: rgb(61, 61, 61);
}
QToolBar {
    background-color: rgb(61, 61, 61);
}
QStatusBar {
    background-color: rgb(61, 61, 61);
}